@use "./abstract/" as *;

body {
    position: relative;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary-font--style;
    scroll-behavior: smooth;
}

.common-text {
    font-size: $font-size--common-text;
    padding: 0;
    margin: 0;
}

.common-header {
    font-weight: $main-header--font-weight;
}

.common-highlight {
    font-size: $font-size--common-text;
    font-weight: 500;
}