@use "../abstract/" as *;

.section--2 {
    min-height: 40rem;

    .feature {
        border-radius: $card-radius;
        position: relative;
        padding: .5rem;

        .common-header {
            position: relative;
        }
        
        .common-header::before {
            content: "";
            display: block;
            height: .5rem;
            width: 37.5%;
            background-color: black;
            position: absolute;
            top: calc(15% + 1.5rem);
            left: 0;
            padding: 0;
            margin: 0;
            transition: width .25s ease-in;
        }

        &:hover .common-header::before {
            width: 100%;
            transition: width .25s ease-in;
        }

        &:not(.feature:hover) .common-header::before {
            width: 37.5%;
            transition: width .25s ease-in;
        }

        .common-text {
           position: relative;
           height:calc(32.5% - 1.25rem);
        min-height: calc(32.5% - 1.25rem);
        }

        button {
            margin: .5rem 0;
        }

        &:hover {
            scale: 1.05;
            z-index: 5;
            background-color: rgba(255, 255, 255, 0.2);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            transition: background-color .25s ease-in,
            scale .25s ease-in,
            z-index .25s ease-out,
            box-shadow .25s ease-out,
            backdrop-filter .25s ease-out,
            border .25s ease-out;
        }
    
        &:not(.feature:hover) {
            background-color: white;
            scale: .9;
            z-index: 0; 
            box-shadow: none;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            border: 1px solid rgba(255, 255, 255, 0.3);
            transition: background-color .25s ease-in,
            scale .25s ease-in,
            z-index .25s ease-out,
            box-shadow .25s ease-out,
            backdrop-filter .25s ease-out,
            border .25s ease-out;;
        }
      
        &-icon {
            width: 100%;
            height: 50%;
    
        }
    
        &-icon img {
            width: 100%;
            height: 80%;
          
            border-radius: $card-radius;
            object-fit: cover;
        }
    }

   
    


  
}