@use "../abstract/" as *;

.section--1 {
    height: $section-height;
    min-height: $section-height;
    position: relative;

    &__main {
        height: 100%;
    }

    h1 {
        font-size: $main-font--size;
        font-weight: $main-header--font-weight;
        margin: 0;
        padding: 0;
    }

    .profile--pic {
        height: 80%;
        width: 100%;
        border-radius: .75rem;
    }

    &__col {
        z-index: 5;
    }

}