@use "../abstract/" as *;
@use "../components/mixin" as *;

.section--5 {
    height: $section-height;
 
    position: relative;


    .row::before {
        content: "karl";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .75  ) ;
    }

    &__col--main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 100%;
    }

    h1 {
        font-size: $font-size--main;
        font-weight: $main-header--font-weight;
    }


    &__second--container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50rem;
        transform: translate(-50%, 50%);
        text-align: center;

        .main--header {
            font-size: $font-size--main;
            color: $color-primary;
            font-family: $special-font--style;
            line-height: 3.75rem;
        }

        .common-text {
            color: $color-other;
        }
    }

    @media screen and (max-width: 770px) {


        &__second--container {
            width: 100%;
            top: -10rem;
            text-align: center;
            color: $color-primary

        }

        .main--header {
            font-size: $font-size--main-reduced;
        }

        .common-text {
            font-weight: bolder;
        }


    }


}