@use "../abstract/" as *;
@use "../components/mixin" as *;

.section--6 {
    min-height: calc($section-height - 50%);
    @include backgroundMixin;
   
    position: relative;
    span {
        padding: .25rem .75rem;
        border: .05rem solid black;
        position: absolute;

        
    }
}