@use "../abstract/" as *;
@use "../components/mixin" as *;
.section--5 {
    height: $section-height;
    position: relative;

    &__col--main-img  {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 100%;
    }
    h1 {
        font-size: $main-font--size;
        font-weight: $main-header--font-weight;
    }
    &__first--container {
        position: absolute;
        top: calc($section-height - 32.5rem);
        left: calc((30vw - 2.5%) - 5%);

        width: 25rem;
        max-width: 25rem;
        min-height: 27rem;
        border-radius: 1.25rem;
        text-align: center;
        
        
        border-radius: $card-radius;
        box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: aliceblue;

         img{
            width: 10rem;
            height: 10rem;
            border-radius: 50% ;
            margin: 1.25rem auto;
            object-fit: cover;

         }

         .img-container {
            height: 40%;
            width: 100%;
            @include backgroundMixin;
 
            padding: 0;
            margin: 0;
            text-align: center;
            border-radius: $card-radius $card-radius 0 0;
         }
    }

    &__second--container {
        position: absolute;
        top: 0;
        left: 75%;
        width: 45%;
        transform: translate(-50%,50%);


    }

    @media only screen and (max-width: 1375px) {
        &__first--container {
            left: calc((22.5vw - 2.5%) - 5%);
        }
        &__second--container{
            width: 35%;
        }
      }

    @media screen and (max-width: 1000px) {
        &__first--container {
       
            left: calc((15.5vw - 5.5%) - 5%);
        }
    }

    @media screen and (max-width: 770px) {
        &__first--container {
            min-height: fit-content;
            top: -15%;
            width: 85%;
            left:calc(50% + 2.5vw);
            transform: translate(-50%,0%);
            top: 0;
        }

        &__second--container{
            width: 90%;
            top: 37.5%;
            left: 50%;
            transform: translate(-50%, 25%);
            text-align: center;
            color: $main--color;

            
        }

        .common-text {
            font-weight: bolder;
        }
    }

    
}

