@use "../abstract/" as *;

.section--4 {
    min-height: max-content;

    &__item {
        box-sizing: border-box;
        text-align: center;
        * {
            display: block;
                text-align: center;
                margin: 0 auto;
        }
        position: relative;
        z-index: 5;
        svg {
            height: 2.5rem;
            width: 2.5rem;
        }

        // .common-highlight {
        //     position: absolute;
        //     left: 15%;
        //     top: 100%;
           
        // }
       
    }
}