@use "../abstract/" as *;

.section--2 {
    height: max-content;

    .feature {
        border-radius: $card-radius;
        position: relative;
        padding: .5rem;
        
        
    }

   
    .feature:hover {
        background-color: aqua;
        scale: 1.05;
        z-index: 5;

        /* From https://css.glass */
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: background-color .25s ease-in,
        scale .25s ease-in,
        z-index .25s ease-out,
        box-shadow .25s ease-out,
        backdrop-filter .25s ease-out,
        border .25s ease-out;
    }

    .feature:not(.feature:hover) {
        background-color: white;
        scale: 1;
        z-index: 0; 
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        transition: background-color .25s ease-in,
        scale .25s ease-in,
        z-index .25s ease-out,
        box-shadow .25s ease-out,
        backdrop-filter .25s ease-out,
        border .25s ease-out;;
    }
  
    .feature-icon {
        width: 100%;
        height: 50%;

    }

    .feature-icon img {
        width: 100%;
        height: 80%;
      
        border-radius: $card-radius;
        object-fit: cover;
    }


  
}