@use "../abstract/" as *;

.section--1 {
    height: max-content;
    min-height: max-content;
    position: relative;

    &__main {
        height: 100%;
    }

    h1 {
        font-size: $main-font--size;
        font-weight: $main-header--font-weight;
        margin: 0;
        padding: 0;
    }

    .profile--pic {
        height: max-content;
        width: max-content;
        border-radius: .75rem;
    }

    &__col {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}