@use "../abstract/" as *;

.section--4 {
    
    a {
        text-decoration: none;
        color: black;
    }
    min-height: max-content;

    &__item {
        box-sizing: border-box;
        text-align: center;
        min-height: 7.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        * {
            display: block;
                text-align: center;
                margin: 0 auto;
        }
        position: relative;
        z-index: 5;
        svg {
            height: 1.75rem;
            width: 1.75rem;
        }

        .common-highlight {
            height: 1.5rem;
            text-overflow:clip;
       
        }
       
    }

    &__item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: $card-radius;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        transform: translateY(-.25rem);
        transition: background-color .25s ease-in,
        border-radius .25s ease-in,
        box-shadow .25s ease-in,
        backdrop-filter .25s ease-in,
        -webkit-backdrop-filter .25s ease-in,
        transform .25s ease-in;
    }
}