@use "../abstract/" as *;
@use "../components/mixin" as *;

.section--1 {
    @include mainSectionMixin;
    height: max-content;
    min-height: max-content;
    position: relative;
    &__main {
        height: 100%;
    }

    h1 {
        color: $main--color;
        font-size: $main-font--size;
        font-weight: $main-header--font-weight;
        margin: 0;
        padding: 0;
    }

    .profile--pic {
        height: 100%;
        width: 30rem;
        border-radius: 14.5rem;
    
    }

    &__col {
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &--item-1::before,
        &--item-1::after {
            
            content: "";
            width: 3.5rem;
            height: 5rem;
            @include shapesMixin;
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            position: absolute;
        }
        
        &--item-1::before {
            top: 0;
            left: 0;
            transform: rotate(45deg);
        }

        &--item-1::after {
            left: calc(80% + .5rem);
            bottom: 0;
            transform: rotate(225deg);
        }

        
    }


}