@use "../abstract/" as *;
@use "./mixin" as *;

.btn {
    padding: $btn-padding;
    border-radius: $btn-radius;
    font-weight: 600;
    font-size: $common-button--font-size;
    position: relative;

}


.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: $btn-radius;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    z-index: -1;
    @include backgroundMixin;
    transform-origin: left;
    transition: transform 1.5s ease-in;
}

.btn:hover::before,
.btn:focus::before {
    transform: scaleX(1);
}

.btn:focus,
.btn:hover {
    color: aliceblue;
}

.btn svg {
    position: relative;
    transform: translateY(0rem);
    height: 1.25rem;
    transition: transform 200ms ease-in;
}

.btn:hover svg {
    transform: translateY(-.25rem);
}