@use '../abstract/' as *;

@mixin backgroundMixin {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

@mixin shapesMixin {
    background-image: linear-gradient(to right, $secondary--color, $calltoaction);;
}


@mixin mainSectionMixin{
    background: radial-gradient($secondary--color, hsl(240, 20%, 97%));
}