@use '../abstract/' as *;

@mixin backgroundMixin {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

@mixin shapesMixin {
    background-image: linear-gradient(to right, $color-secondary, $color-calltoaction);;
}

@mixin mainSectionMixin{
    background: radial-gradient($color-secondary, hsl(240, 20%, 97%));
}

@mixin fillSVGColor {
    fill: linear-gradient(to right, #fc5c7d, #6a82fb);
}