@use "../abstract/" as *;
@use "../components/mixin" as *;


nav::after {
    content: "";
    display: block;
    height: 5px;
    @include backgroundMixin;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transform-origin: left;
    scale: 0 1;
    border-radius: .5px;
    animation: moveit linear 2s;
    animation-timeline: scroll();
}


@keyframes moveit {
    to {
        scale: 1 1;
    }
}

.navbar-brand svg {
    height: 1.5rem;

}

.nav-item a {

    font-weight: 600;
}