@use "../abstract/" as *;
@use "../components/mixin" as *;

.notification {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    text-align:center;
    padding: .5rem 0;
    color: $main--color;
    @include backgroundMixin;
    

}